

html,body {
	margin: 0 ;
}

#head {
	
	margin:0;
	height: 100px;
	width: auto;
	position: relative;
	background: rgba(73,155,234,1);
    background: -moz-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(73,155,234,1)), color-stop(100%, rgba(32,124,229,1)));
    background: -webkit-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
    background: -o-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
    background: -ms-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
    background: linear-gradient(to right, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#207ce5', GradientType=1 );
     -webkit-box-shadow: 0px 11px 7px 3px rgba(107,107,107,1);
     -moz-box-shadow: 0px 11px 7px 3px rgba(107,107,107,1);
    box-shadow: 0px 11px 7px 3px rgba(107,107,107,1);
}
#textbox {
	float: left;
	color:white;
	margin: 0;
	font-family:cursive;
	font-size: 25px;
	height: 70px;
	width: 500px;
	text-align: left;
	padding-left: 30px;
}

#menubar {
	height: 70px;
	float: left;
	margin-top: 20px;
	margin-left: 50px;
	color: white;
	width: auto;
}

#menus {
	list-style: none;
	margin: 0;
	padding: 0;
}

#menus li {
	font-family: cursive;
	font-size: 15px;
	float: left;
	display: inline;
	height: 50px;
	line-height: 50px;
	width: 120px;
	text-align: center;
    border-left: 1px solid white;
	border-right: 1px solid white;
	
}

.links {
	text-decoration: none;
	color: white;
}

#contactlink {
	border-right: 1px solid white;
	color: white;
	
}

#divone {
	float: left;
	margin: 0;
	padding: 0;
	height:1750px;
	width: 100%;
	background-color:#D1DBDD;
}

#notice {
	margin:0;
	padding-top: 10px;
	float: left;
	height: 25px;
	width: 100%;
	background-color: rgba(0, 0, 0, 0);
background: rgba(0, 0, 0, 0);
color: red;
}

#divsecond {
	text-align: center;
	margin:30px;
	padding:50px;
	float: left;
	height: 250px;
	width: 1160px;
	background-color: red;
	border-radius: 10px;
	color: white;
	background: rgba(117,189,209,1);
background: -moz-linear-gradient(left, rgba(117,189,209,1) 0%, rgba(147,206,222,1) 0%, rgba(73,165,191,1) 0%, rgba(73,165,191,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(117,189,209,1)), color-stop(0%, rgba(147,206,222,1)), color-stop(0%, rgba(73,165,191,1)), color-stop(100%, rgba(73,165,191,1)));
background: -webkit-linear-gradient(left, rgba(117,189,209,1) 0%, rgba(147,206,222,1) 0%, rgba(73,165,191,1) 0%, rgba(73,165,191,1) 100%);
background: -o-linear-gradient(left, rgba(117,189,209,1) 0%, rgba(147,206,222,1) 0%, rgba(73,165,191,1) 0%, rgba(73,165,191,1) 100%);
background: -ms-linear-gradient(left, rgba(117,189,209,1) 0%, rgba(147,206,222,1) 0%, rgba(73,165,191,1) 0%, rgba(73,165,191,1) 100%);
background: linear-gradient(to right, rgba(117,189,209,1) 0%, rgba(147,206,222,1) 0%, rgba(73,165,191,1) 0%, rgba(73,165,191,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#75bdd1', endColorstr='#49a5bf', GradientType=1 );
}
#downloads {
	margin: 30px;
	padding: 50px;
	float: left;
	height: 250px;
	width: 1160px;
	background-color: green;
	border-radius: 10px;
	color: white;
	text-align: center;
	background: rgba(241,142,153,1);
background: -moz-linear-gradient(left, rgba(241,142,153,1) 0%, rgba(210,75,90,1) 0%, rgba(186,39,55,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(241,142,153,1)), color-stop(0%, rgba(210,75,90,1)), color-stop(100%, rgba(186,39,55,1)));
background: -webkit-linear-gradient(left, rgba(241,142,153,1) 0%, rgba(210,75,90,1) 0%, rgba(186,39,55,1) 100%);
background: -o-linear-gradient(left, rgba(241,142,153,1) 0%, rgba(210,75,90,1) 0%, rgba(186,39,55,1) 100%);
background: -ms-linear-gradient(left, rgba(241,142,153,1) 0%, rgba(210,75,90,1) 0%, rgba(186,39,55,1) 100%);
background: linear-gradient(to right, rgba(241,142,153,1) 0%, rgba(210,75,90,1) 0%, rgba(186,39,55,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f18e99', endColorstr='#ba2737', GradientType=1 );
}

.downloadlinks {
	list-style: none;
}

#sourcecode {
	margin: 30px;
	padding: 50px;
	float: left;
	height: 250px;
	width: 1160px;
	background-color: grey;
	border-radius: 10px;
	color: white;
	text-align: center;
	background: rgba(241,231,103,1);
background: -moz-linear-gradient(left, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 0%, rgba(254,182,69,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(241,231,103,1)), color-stop(0%, rgba(254,182,69,1)), color-stop(100%, rgba(254,182,69,1)));
background: -webkit-linear-gradient(left, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 0%, rgba(254,182,69,1) 100%);
background: -o-linear-gradient(left, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 0%, rgba(254,182,69,1) 100%);
background: -ms-linear-gradient(left, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 0%, rgba(254,182,69,1) 100%);
background: linear-gradient(to right, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 0%, rgba(254,182,69,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1e767', endColorstr='#feb645', GradientType=1 );
}

#contactme {
	margin: 30px;
	padding: 50px;
	float: left;
	height: 250px;
	width: 1160px;
	background-color: grey;
	border-radius: 10px;
	color: white;
	text-align: center;
	background: rgba(235,233,249,1);
background: -moz-linear-gradient(left, rgba(235,233,249,1) 0%, rgba(216,208,239,1) 0%, rgba(206,199,236,1) 51%, rgba(193,191,234,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(235,233,249,1)), color-stop(0%, rgba(216,208,239,1)), color-stop(51%, rgba(206,199,236,1)), color-stop(100%, rgba(193,191,234,1)));
background: -webkit-linear-gradient(left, rgba(235,233,249,1) 0%, rgba(216,208,239,1) 0%, rgba(206,199,236,1) 51%, rgba(193,191,234,1) 100%);
background: -o-linear-gradient(left, rgba(235,233,249,1) 0%, rgba(216,208,239,1) 0%, rgba(206,199,236,1) 51%, rgba(193,191,234,1) 100%);
background: -ms-linear-gradient(left, rgba(235,233,249,1) 0%, rgba(216,208,239,1) 0%, rgba(206,199,236,1) 51%, rgba(193,191,234,1) 100%);
background: linear-gradient(to right, rgba(235,233,249,1) 0%, rgba(216,208,239,1) 0%, rgba(206,199,236,1) 51%, rgba(193,191,234,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebe9f9', endColorstr='#c1bfea', GradientType=1 );
}

.fbandgiticon {
	height: 60px;
	width: 50px;
}

#foot {
	height: 200px;
	width: auto;
	margin: 0;
	text-align: center;
	color: white;
	background-color: #030303;
	padding: 0;
	clear: left;
	border: 1px solid black;
}

#divsecond:hover {-webkit-box-shadow: 0px 13px 27px 8px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 13px 27px 8px rgba(0,0,0,0.75);
box-shadow: 0px 13px 27px 8px rgba(0,0,0,0.75);
}

#downloads:hover {
	-webkit-box-shadow: 0px 13px 27px 8px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 13px 27px 8px rgba(0,0,0,0.75);
box-shadow: 0px 13px 27px 8px rgba(0,0,0,0.75);
	
}
#sourcecode:hover {
	-webkit-box-shadow: 0px 13px 27px 8px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 13px 27px 8px rgba(0,0,0,0.75);
box-shadow: 0px 13px 27px 8px rgba(0,0,0,0.75);
}
#contactme:hover {
	-webkit-box-shadow: 0px 13px 27px 8px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 13px 27px 8px rgba(0,0,0,0.75);
box-shadow: 0px 13px 27px 8px rgba(0,0,0,0.75);
	
}